/* DARK MODE AND TOGGLE STYLES */

/*-- -------------------------- -->
<---      Core Dark Styles      -->
<--- -------------------------- -*/

/* Mobile */
@media only screen and (min-width: 0em) {
    // Dark Mode Color Scheme
    :root {


        // black & white pallet
        --color-primary-500:var(--sl-color-neutral-800);
        --color-primary-700:var(--sl-color-neutral-700);
        --color-primary-900:var(--sl-color-neutral-600);


                
        // camel
        // --medium: #8B6F5A;
        // --color-primary-500:#c28100;

        /* A golden yellow */
        // --color-primary-500: #ffc857; 

        // rouge
        // --color-primary-500:#a10000;
        // --color-primary-300:hsl(0, 65%, 32%);

        // blue
        --color-primary-300: hsl(210, 65%, 32%);
        --color-primary-500: #0066a1;
        --color-primary-900:var(--sl-color-neutral-600);


        // some old components use these
        --dark: var(--sl-color-neutral-900);
        --medium: var(--sl-color-neutral-800);

    }

    body.dark-mode {
    // so we don't always manually set dark colors
    --primary: var(--dark);            
    --primaryLight: var(--medium); 
    --secondary: ar(--dark);     
    --secondaryLight: var(--medium);
        
        background-color: var(--dark);
        p,
        li,
        h1,
        h2,
        h3,
        h4,
        h5,
        h6 {
            color: #fff;
        }

        // hide all light classes
        .light {
            display: none;
        }

        // show all dark classes
        .dark {
            display: block !important;
        }
    }

    .dark {
        display: none;
    }
}
