/* DARK MODE AND TOGGLE STYLES */

/*-- -------------------------- -->
<---      Core Dark Styles      -->
<--- -------------------------- -*/

/* Mobile */
@media only screen and (min-width: 0em) {
    // Dark Mode Color Scheme
    :root {
        // some elements use this
        --dark: #001b2e;
        --medium: #005488;
        // we will gradually transition into using this
        --color-primary-500:#005488;
        --color-primary-700:#003b63;
        --color-primary-900:#001b2e;
    }

    body.dark-mode {
        background-color: var(--dark);

        p,
        li,
        h1,
        h2,
        h3,
        h4,
        h5,
        h6 {
            color: #fff;
        }

        // hide all light classes
        .light {
            display: none;
        }

        // show all dark classes
        .dark {
            display: block !important;
        }
    }

    .dark {
        display: none;
    }
}
