---
import BaseLayout from "src/layouts/BaseLayout.astro";
import CTA from "@components/CTA.astro";
import FAQ from "@components/FAQ.astro";
import { getCollection } from "astro:content";

// Optimize our landing image and pass it as props to the BaseLayout (for preloading) and Landing (for rendering)
import {getOptimizedImage,getOptimizedCardImage} from "@js/utils"
import landingImage from "@assets/images/hero.avif" // <-- THE PATH TO THE ASSET YOU WANT TO PRELOAD - The asset must live in src
import { Icon } from "astro-icon/components";
import LearningArea from "@components/LearningArea.astro";
import Hero from "@components/Hero.astro";
import Products from "@components/Products.vue";
const optimizedImage = await getOptimizedImage(landingImage)

const products = await getCollection("products");
const productsProcessedImages = await processProdctImages(products)

async function processProdctImages(products) {
  const processed_images =  {}

  products.forEach(async (entry) =>{
    const {id,data} = entry
      const optimized_main_image = await getOptimizedCardImage(data.image)

      processed_images[id] = {}
      processed_images[id].image = optimized_main_image
  })

  return processed_images
}

// Flag to track if data is ready
const dataIsReady = products && productsProcessedImages;

---

<BaseLayout
  title="Pixel Perfect Websites"
  description="Meta description for the page"
  preloadedImage = {optimizedImage}
>


<Hero />


<!-- products -->
{dataIsReady ? (
  <Products 
    client:only="vue" 
    products={products} 
    productImages={productsProcessedImages} 
    isSection={true} 
  />
) : (
  <div class="loading-state">Loading products...</div>
)}
 
  <!-- ============================================ -->
  <!--                    FAQ                       -->
  <!-- ============================================ -->
  <FAQ />



</BaseLayout>

<style lang="less">
  







</style>
